<footer class="page-footer blue lighten-1">
  <div class="footer-copyright blue">
    <div class="container">
      All articles belong to <a href='http://www.theverge.com/' target="_blank">The Verge</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>