body {
	background: url('../img/newspaper.jpg') repeat;
	background-size: 600px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.articleBody {
	height: 200px;
	font-size: 20px;
	overflow-y: scroll;
	line-height: 150%;
}

#nameComment {
	font-weight: bold;
	background: #42a5f5;
	color: white;
}

/* label focus color */
.input-field input[type=text]:focus + label {
	color: #2196f3;
}

/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #2196f3;
	box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #42a5f5;
}

