  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo center">Scrape The Science News</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/stevemurphy256/news-scraper" target="_blank">Git Repo</a></li>
      </ul>
    </div>
  </nav>